#encode{
margin: 2%;}

#decode{
  margin: 2%;}

#banner{
  float: right;
padding-left: 5%;
padding-right: 5%;
padding-top: 6%;
margin-top: 10%;


}

#main{
  margin-top: 12%;
  margin-bottom: 4%;
}

.Encry{
display: inline-flexbox;
}
.decry{
  display: inline-flexbox;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color:black;
  text-align: center;
}

